@import url("reset.css");
/* import fonts */

/* fonts from "fonts" */
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
   font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
   font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
   font-style: normal;
}
/*font-family: 'Lato', sans-serif;*/

/* Other styles */

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #1E212C;
}

.header {
	margin: 0px 0px 118px 0px;
	padding-top: 30px;
	text-align: center;
	height: 20px;
	color: rgba(103, 38, 38, 0.399);
	text-decoration: underline;
	text-shadow: 0px 0px 20px #000;
}
.main {
	max-width: 810px;
	margin: 0 auto;
}
.article {
}
.section {
	margin: 0px 0px 45px 0px;
}
.article__image {
	/*width: 810px;*/
	max-width: 100%;
	/* CENTER ONLY BLOCK */
	display: block;
	margin: 0px auto 60px;
}
.section p {
	line-height: 1.6;
	color: #424551;
	margin: 0px 0px 30px 0px;
}
.section p + p + p {
	margin: 0px 0px 48px 0px;
}
.section__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0px 0px 92px 0px;
}
.header-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin: 0px 0px 24px 0px;
}
.quote {
	margin: 0px 0px 0px 58px;
}
.quote p {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin: 0px 0px 0px 0px;
}
.achieve {

}
.achieve > * {
	margin: 0px 0px 24px 0px;
	line-height: 1.6;
	color: #424551;
}

.achieve__list {
	padding-left: 32px;
	margin: 0px 0px 24px 0px;
}
.achieve__list li {
	margin: 0px 0px 4px 0px;
}

.hide {
	color: rgba(255, 255, 255, 0);
	margin: 0px 0px 0px 0px;
	line-height: 0;
}
.achieve > p ~ p {
margin: 0px 0px 60px 0px;
}

/* block of imagination */

.imagination {
	border-top: 2px solid black;
	margin: 0px 0px 60px 0px;
}
.myPart {
	padding-top: 30px;
	font-size: 0;
	max-width: 560px;
	margin: 0 auto;
}
.myPart div {
	height: 100px;
	width: 100px;
	margin: 0px 40px 30px 0px;
}
.myPart__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
	font-weight: bold;
	text-decoration: line-through;
	font-size: 40px;
}

.myPart__title div {
	font-size: 20px;
}
.block1 {
	color: white;
	background-color: #123;
	display: inline-block;
	overflow: hidden;
	outline: 1px solid green;
}
.block2 {
	color: rgba(255, 255, 255, 0.35);
	background-color: #234;
	display: inline-block;
	overflow: auto;
	outline: 1px dotted blue;
	box-shadow: 0px 0px 80px 5px blueviolet;
}
.block3 {
	background-color: #345;
	display: inline-block;
	overflow-x: scroll;
	outline: 1px dashed red;
}
.block4 {
	background-color: #678;
	display: inline-block;
	overflow: scroll;
	border: 1px solid yellow;
	border-bottom-right-radius: 40px;
	box-shadow: 0px 0px 40px 5px black;
}
.block5{
	display: none;
	background-color: #465;
		overflow: hidden;

}
.block6{
	visibility: hidden;
	background-color: #765;
		display: inline-block;
		overflow: hidden;

}
.block7{
	opacity: 0.3;
	background-color: #876;
		display: inline-block;
		overflow: hidden;

}
.block8{
	border-radius: 50%;
	background-color: #987;
	display: inline-block;

	overflow: hidden;
}





.footer {
	text-align: center;
	color: rgb(255, 2, 2);
	margin: 0px 0px 60px 0px;
}

.footer__link{
	padding: 20px;
	display: inline-block;
	background-color: rgba(19, 139, 53, 0.076);
	border-radius: 40px;
}
.footer__link > span {
	font-size: 30px;
	margin: 0px 0px 0px 20px;

}

