// Заголовки, общие БЄМ блоки и проче...

/*
<div class="XXXXXX__block-title block-heading">
	<p class="block-heading__sup-title">Who we are</p>
	<h2 class="block-heading__title">Why Createx?</h2>
</div>
*/
.block-heading {
	color: $titleColor;
	> *:not(:last-child) {
		margin-bottom: rem(8);
	}
	// .block-heading__sup-title
	&__sup-title {
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	// .block-heading__title
	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 46, 32);
		line-height: 1.3;
	}
}

//block list items
/*
<ul class="XXXXXX__list block-list">
	<li class="block-list__item">A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
	<li class="block-list__item">Vulputate placerat amet pulvinar lorem nisl.</li>
</ul>
*/

.block-list {
	line-height: 1.6;
	& > li {
		@include adaptiveValue("padding-left", 32, 22);
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 12, 8);
		}
	}
	// .block-list__item
	&__item {
		&::before {
			content: "\e902";
			font-family: "icomoon";
			position: absolute;
			top: 0;
			left: 0;
			color: $primaryColor;
		}
	}
}

/*

*/
.courses-cards {
	// .courses-cards__card
	&__card {
		display: flex; //delete
		flex-direction: row;
		@media (min-width: em(680)) and (max-width: em(1049.98)) {
			flex-direction: column;
		}
		@media (max-width: em(499.98)) {
			flex-direction: column;
		}

		border: 1px solid #e5e8ed;
		/* shadow/small */

		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
			0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
		border-radius: rem(4);
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #e5e8ed;
				/* shadow/regular */

				box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1),
					0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
			}
		}
	}
	// .courses-cards__background-img
	&__background-img {
		background: $cardSpeakerBG;
		width: 100%;
		justify-content: center;
		display: flex;
		flex: 0 0 214px;
		max-height: rem(214);
	}
	// .courses-cards__img

	&__img {
		//display: block;
		//position: relative;
		//max-width: 100%;
		border-radius: rem(4) 0px 0px rem(4);
		img {
			width: 100%;
		}
		@media (min-width: em(680)) and (max-width: em(1049.98)) {
			max-width: 60%;
		}
		@media (max-width: em(499.98)) {
			//max-width: 60%;
		}
	}
	//+add -ibg styles
	//&__img-ibg {
	//	width: 100%;
	//	img {
	//	}
	//	@media (min-width: em(680)) and (max-width: em(999.98)) {
	//		max-width: 60%;
	//	}
	//	@media (max-width: em(499.98)) {
	//		max-width: 60%;
	//	}
	//}

	// .courses-cards__info-more
	&__info-more {
		@include adaptiveValue("padding", 32, 10, 0, 1230, 900);

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		@media (min-width: em(680)) and (max-width: em(1049.98)) {
			@include adaptiveValue("row-gap", 20, 10);
		}
		@media (max-width: em(679.98)) {
			@include adaptiveValue("padding", 32, 20);
			@include adaptiveValue("row-gap", 20, 10);
		}
	}
	// .courses-cards__badge                margin-bottom: rem(20);
	&__badge {
		color: #ffffff;
		padding: rem(3) rem(8);
		border-radius: 4px;
		&--marketing {
			background: #03cea4;
		}
		&--management {
			background: #5a87fc;
		}
		&--management {
			background: #5a87fc;
		}
		&--hRRecruting {
			background: #f89828;
		}
		&--design {
			background: #f52f6e;
		}
	}
	// .courses-cards__title
	&__title {
		font-weight: 700;
		font-size: rem(20);
		line-height: 1.5;
		color: $titleColor;
	}
	// .courses-cards__link-title
	&__link-title {
		flex: 1 1 auto;
		display: flex;

		align-items: center;
	}

	// .courses-cards__row-info-courses
	&__row-info-courses {
	}
	// .courses-cards__courses-price
	&__courses-price {
		font-weight: 700;
		font-size: rem(18);
		line-height: 1.5;
		color: #ff4242;
		margin-right: rem(8);
	}
	// .courses-cards__courses-speaker
	&__courses-speaker {
		font-size: rem(18);
		line-height: 1.5;
		color: $colorSpeaker;
		padding-left: rem(8);
		position: relative;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 1px;
			height: rem(16);
			background: $colorSpeaker;
			transform: translate(0px, -50%);
		}
	}
}

//animations
@keyframes pulse {
	0% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
