//====================================================================================================
.page {
}
//====================================================================================================

.hero {
	position: relative;
	@include adaptiveValue("padding-bottom", 90, 20, 0, 1230, 320);
	@include adaptiveValue("padding-top", 200, 50, 0, 1230, 320);
	background: $bg-blocks;
	//z-index: -1;
	// .hero__container
	&__container {
		position: relative;
		z-index: 1;
	}
	// .hero__info
	&__info-main {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 189, 20, 0, 1230, 400);
		}
	}
	// .hero__block-info
	&__block-info {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	// .hero__block-img
	&__block-img {
		max-width: 60%;
		margin: 0 auto;
		& img {
			width: 100%;
		}
	}
	// .hero__row-achievement
	&__row-achievement {
	}

	@media (max-width: em(599.98)) {
		text-align: center;
	}
	@media (min-width: em(599.98)) {
		&__info-main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: rem(10);
		}
		// .hero__block-info
		&__block-info {
			flex: 0 1 40.325203%; /* 496/1230 */
		}
		// .hero__block-img
		&__block-img img {
			width: 100%;
			transform: translate(6%, 0px);
		}
	}
	@media (max-width: em(768)) {
		&__block-img {
			flex-basis: 50%;
		}
	}
	@media (max-width: em(1000)) {
		&__block-info {
			flex: 0 1 70.325203%; /* 496/1230 */
		}
	}

	@media (min-width: em(1000)) {
		// .hero__block-img
		&__block-img {
			& img {
				width: 107.8%;
				transform: translate(7.8%, 0px);
			}
		}
	}

	// .hero__block-decore
	&__block-decore {
	}
}

.info-block-hero {
	color: $titleColor;
	// .info-block-hero__play
	&__play {
		font-weight: 700;
		font-size: rem(14);
		line-height: 1.5;
		display: inline-flex;
		align-items: center;
		@include adaptiveValue("column-gap", 16, 10);
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 20);
		}
		&::after,
		&::before {
			@include adaptiveValue("height", 52, 35);
			@include adaptiveValue("width", 52, 35);
		}
		&::before {
			content: "";
			border-radius: 50%;
			background: #ff3f3a url("@img/icons/basic icons/play.svg") center no-repeat;

			display: flex;
			align-items: center;
			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue("flex-basis", 52, 35);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;

			border-radius: 50%;
			background-color: #ff3f3a;
			opacity: 0.12;
			/* transform: scale(1.6); */
			transition: transform 0.3s ease 0s;
			animation: play-me 2s infinite ease;
			z-index: -1;
		}
	}
	@keyframes play-me {
		0% {
			transform: scale(1);
			opacity: 0.6;
		}
		70% {
			transform: scale(1.3);
			opacity: 0.3;
		}
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}
	// .info-block-hero__title
	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 64, 30);
		line-height: 1.3;
		letter-spacing: 1px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .info-block-hero__row-button
	&__row-button {
		> * {
			@media (max-width: em(400)) {
				width: 100%;
			}
		}
	}
	// .info-block-hero__button-about
	&__button-about {
		@media (min-width: em(401)) {
			margin-right: rem(24);
		}
		@media (max-width: em(400.98)) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}

		//@media (max-width: em(740.98)) {
		//	margin-bottom: rem(10);
		//}
		//@media (max-width: em(499.98)) {
		//	margin-right: rem(24);
		//	margin-bottom: rem(0);
		//}
	}
	// .info-block-hero__button-explore
	&__button-explore {
	}

	@media (max-width: em(499.98)) {
		text-align: center;
	}
}

.achievement-row {
	color: $titleColor;
	text-align: center;

	// .achievement-row__items
	&__items {
		> * {
			display: inline-block;
		}
	}
	// .achievement-row__achieve
	&__achieve {
		font-weight: 900;
		@include adaptiveValue("font-size", 46, 25);
		line-height: 1.3;
		margin-right: rem(5);
	}
	// .achievement-row__description
	&__description {
		line-height: 1.6;
	}
	&__dot {
		display: inline-block;
		width: 8px;
		height: 8px;
		background: $primaryColor;
		border-radius: 50%;
	}
	@media (min-width: em(499.98)) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(5);
		row-gap: rem(8);

		flex-wrap: wrap;
		// .achievement-row__items
		&__items {
			display: flex;
			align-items: center;
			@include adaptiveValue("column-gap", 12, 5, 0, 1230, 320);
		}
		&__dot {
			&--hidden1000 {
				display: none;
			}
		}
	}
	@media (max-width: em(1000)) {
		justify-content: space-around;
		&__items {
			justify-content: space-around;
			flex-basis: 40%;
		}
	}
	@media (min-width: em(1000.98)) {
		&__dot {
			&--hidden1000 {
				display: inline-block;
			}
		}
	}
}
.decore-hero {
	@media (min-width: em(900)) {
		// .decore-hero__img
		&__img {
			position: absolute;
			z-index: 0;
			//background-clip: cover;
		}
		// .decore-hero__circles
		&__circles {
			background: url("@img/decore/circles-white.svg") 0 0 / 100% no-repeat;
			//width: rem(284);
			//height: rem(284);
			width: 14.343434%; /* 284/1980 */
			max-width: rem(284);
			padding-top: 14.343434%; /* 284/1980 */

			//@include adaptiveValue("bottom", -100, -40, 0, 1980, 1000);
			bottom: rem(-100); /* 100/1080 */
			left: -5.833333%; /* 112/1920 */
		}
		// .decore-hero__dots
		&__dots {
			background: url("@img/decore/dots-white.svg") 0 0 / 100% no-repeat;
			//width: rem(187);
			//height: rem(137);

			//adaptive size for bg img
			width: 9.444444%; /* 187/1980 */
			padding-top: 6.919192%; /*  /* 137/1980 */
			max-width: rem(187);
			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);
			bottom: rem(194);
			//bottom: 17.962963%; /* 194/1080 */

			right: -1.5625%; /* 30/1920 */
		}
		// .decore-hero__group-of-arrows-deg
		&__group-of-arrows-deg {
			background: url("@img/decore/group-of-arrows.svg") 0 0 / 100% no-repeat;
			//width: rem(156);
			//height: rem(156);

			//adaptive size for bg img
			width: 7.878788%; /* 156/1980 */
			padding-top: 7.878788%; /* 156/1980 */
			max-width: rem(156);
			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			transform: rotate(135deg);
			top: rem(-45); /* 45/1080 */
			right: 5%; /* 96/1920 */
		}
		// .decore-hero__group-of-arrows
		&__group-of-arrows {
			background: url("@img/decore/group-of-arrows.svg") 0 0 / 100% no-repeat;
			//width: rem(156);
			//height: rem(156);

			//adaptive size for bg img
			width: 7.878788%; /* 156/1980 */
			max-width: rem(156);
			padding-top: 7.878788%; /* 156/1980 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			top: rem(133); /* 133/1080 */
			left: 4.270833%; /* 82/1920 */
		}
		// .decore-hero__group-of-half-of-circle
		&__group-of-half-of-circle {
			background: url("@img/decore/group-of-half-of-circle.svg") 0 0 / 100% no-repeat;
			//width: rem(88);
			//height: rem(47);

			//adaptive size for bg img
			width: 4.444444%; /* 88/1980 */
			max-width: rem(88);
			padding-top: 2.373737%; /* 47/1980 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			top: rem(487); /* 487/1080 */
			left: 40.729167%; /* 782/1920 */
		}
		// .decore-hero__half-of-circle
		&__half-of-circle {
			background: url("@img/decore/half-of-circle.svg") 0 0 / 100% no-repeat;
			//width: rem(61);
			//height: rem(61);

			//adaptive size for bg img
			width: 3.080808%; /* 61/1980 */
			max-width: rem(61);
			padding-top: 3.080808%; /* 61/1980 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			bottom: rem(261); /* 261/1080 */
			left: 38.177083%; /* 733/1920 */
		}
	}
}

//====================================================================================================
//====================================================================================================
.who-we-are {
	@include adaptiveValue("padding-top", 90, 20, 0, 1230, 320);
	@include adaptiveValue("padding-bottom", 90, 20, 0, 1230, 320);
	@media (min-width: em(1100)) {
		position: relative;
	}
	// .who-we-are__container
	&__container {
	}
	// .who-we-are__img
	&__img {
		width: 100%;
		img {
			max-width: 100%;
		}
	}

	// .who-we-are__block-text
	&__block-text {
	}
	// .who-we-are__block-title
	&__block-title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	// .who-we-are__list
	&__list {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 24);
		}
	}

	// .who-we-are__more
	&__more {
	}

	// .who-we-are__decors
	&__decors {
	}
	@media (min-width: em(599.98)) and (max-width: em(720.98)) {
		// .who-we-are__container
		&__container {
			flex-direction: column;
			row-gap: rem(20);
		}
	}
	@media (min-width: em(721)) and (max-width: em(1024)) {
		&__img {
			max-width: 50%;
		}
	}
	@media (min-width: em(720)) {
		// .who-we-are__img
		&__img {
			margin-right: rem(10);
		}
	}
	@media (min-width: em(599.98)) {
		// .who-we-are__container
		&__container {
			display: flex;
			justify-content: space-between;
			@include adaptiveValue("column-gap", 40, 20);
		}

		// .who-we-are__block-text
		&__block-text {
		}
		// .who-we-are__block-title
		&__block-title {
		}
		// .who-we-are__list
		&__list {
		}

		// .who-we-are__more
		&__more {
		}

		// .who-we-are__decors
		&__decors {
		}
	}

	@media (max-width: em(599.98)) {
		// .who-we-are__img
		&__img {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
}

.decorations-who-we-are {
	position: relative;
	// .decorations-who-we-are__circles
	&__circles {
	}
	// .decorations-who-we-are__dots
	&__dots {
	}
	@media (min-width: em(900)) {
		//img
		&__img {
			position: absolute;
			z-index: 0;
			//background-clip: cover;
		}

		// .decorations-who-we-are__circles
		&__circles {
			background: url("@img/who-we-are/decoration/circles.svg") 0 0 / 100% no-repeat;
			//width: rem(287);
			//height: rem(287);

			width: 14.494949%; /* 287/1980 */
			max-width: rem(287);
			padding-top: 14.494949%; /* 287/1980 */

			top: 47.027027%; /* 348/740 */
			right: -8.59375%; /* 165/1920 */
		}
		// .decorations-who-we-are__dots
		&__dots {
			background: url("@img/who-we-are/decoration/dots.svg") 0 0 / 100% no-repeat;
			width: rem(181);
			height: rem(132);

			width: 9.141414%; /* 181/1980 */
			max-width: rem(181);
			padding-top: 6.666667%; /* 132/1980 */

			transform: rotate(45deg);
			top: 20.405405%; /* 151/740 */
			left: -5.729167%; /* 110/1920 */
		}
	}
}

//====================================================================================================
//====================================================================================================

.featured-courses {
	@include adaptiveValue("padding-top", 90, 20, 0, 1230, 320);
	@include adaptiveValue("padding-bottom", 90, 20, 0, 1230, 320);

	// .featured-courses__container
	&__container {
	}
	// .featured-courses__top-row
	&__top-row {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 15);
		}
		@media (min-width: em(499.98)) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
		@media (max-width: em(499.98)) {
			text-align: end;
		}
	}
	// .featured-courses__block-title
	&__block-title {
		@media (max-width: em(499.98)) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			text-align: center;
		}
	}

	// .featured-courses__more-button
	&__more-button {
		@media (max-width: em(499.98)) {
		}
	}
	// .featured-courses__block-cards
	&__block-cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("gap", 30, 15);
		@media (max-width: em(679.98)) {
			grid-template-columns: 1fr;
		}
	}
}

//====================================================================================================
//====================================================================================================

.our-benefits {
	@include adaptiveValue("padding-top", 90, 20, 0, 1230, 320);
	@include adaptiveValue("padding-bottom", 120, 30, 0, 1230, 320);

	// .our-benefits__container
	&__container {
	}
	// .our-benefits__block-title
	&__block-title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .our-benefits__tabs
	&__tabs {
	}
}

//====================================================================================================
//====================================================================================================

.our-events {
	@include adaptiveValue("padding-top", 80, 20, 0, 1230, 320);
	@include adaptiveValue("padding-bottom", 80, 20, 0, 1230, 320);
	position: relative;
	background: $bg-blocks;
	// .our-events__container
	&__container {
	}
	// .our-events__block-title
	&__block-title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .our-events__row-events
	&__row-events {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 65, 30);
		}
	}
	// .our-events__block-decore
	&__block-decore {
	}
	// .our-events__more
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: rem(40);
	}
	// .our-events__title-more
	&__title-more {
		font-weight: 700;
		@include adaptiveValue("font-size", 28, 20);
		line-height: 150%;
		color: $titleColor;
	}
	// .our-events__button-more
	&__button-more {
	}
}

.decore-our-events {
	@media (min-width: em(900)) {
		// .decore-our-events__img
		&__img {
			position: absolute;
			z-index: 0;
			//background-clip: cover;
		}
		// .decore-our-events__circles
		&__circles {
			background: url("@img/decore/circles-white.svg") 0 0 / 100% no-repeat;
			//width: rem(284);
			//height: rem(284);
			width: 14.343434%; /* 284/1980 */
			max-width: rem(284);
			padding-top: 14.343434%; /* 284/1980 */

			//@include adaptiveValue("bottom", -100, -40, 0, 1980, 1000);
			top: rem(-133); /* 100/1080 */
			top: -12.314815%; /* 133/1080 */
			right: -3.125%; /* 60/1920 */
		}
		// .decore-our-events__dots
		&__dots {
			background: url("@img/decore/dots-white.svg") 0 0 / 100% no-repeat;
			//width: rem(187);
			//height: rem(137);

			//adaptive size for bg img
			width: 9.444444%; /* 187/1980 */
			padding-top: 6.919192%; /*  /* 137/1980 */
			max-width: rem(187);
			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			bottom: rem(7);
			left: -0.525%; /* 10/1920 */
		}
	}
}

//====================================================================================================
//====================================================================================================

.our-certificate {
	@include adaptiveValue("padding-top", 120, 30);
	@include adaptiveValue("padding-bottom", 120, 30);
	padding-bottom: 10px; //
	// .our-certificate__container
	&__container {
		position: relative;
	}
	// .our-certificate__block-info
	&__block-info {
		@media (max-width: em(768.98)) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .our-certificate__block-title
	&__block-title {
		@media (max-width: em(768.98)) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 30);
		}
	}
	// .our-certificate__block-accredited
	&__block-accredited {
	}
	// .our-certificate__block-certificate
	&__block-certificate {
		z-index: 1;
		@media (max-width: em(768)) {
			@include adaptiveValue("margin-bottom", -120, -50, 0, 768, 320);
		}
		img {
			width: 100%;
		}
	}

	//end mobile first
	//end mobile first
	@media (min-width: em(768.98)) {
		&__container {
			display: flex;
			align-items: flex-start;
			column-gap: rem(10);
		}
		// .our-certificate__block-info
		&__block-info {
			flex: 0 0 32.276423%; /* 397/1230 */
		}
		// .our-certificate__block-title
		&__block-title {
		}
		// .our-certificate__block-accredited
		&__block-accredited {
		}

		// .our-certificate__block-certificate
		/*
		&__block-certificate {
			flex: 0 1 57.317073%; //  705/1230 
			max-width: 100%;
			img {
			}
		}
		*/

		// .our-certificate__block-certificate
		&__block-certificate {
			position: absolute;
			top: 0;
			right: 0;
			max-width: rem(705);
			@include adaptiveValue("max-width", 705, 352, 0, 1230, 768);
			@include adaptiveValue("max-height", 500, 250, 0, 1230, 768);
			max-height: rem(500);
			width: 100%;
		}
	}
	@media (min-width: em(768.98)) and (max-width: em(1024.98)) {
		&__block-info {
			flex: 0 0 42%; /* 397/1230 */
		}
	}
}

.accredited-block {
	// .accredited-block__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
		}
	}
	// .accredited-block__accred-organizations
	&__accred-organizations {
		font-size: 0;
		@media (max-width: em(768.98)) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .accredited-block__organization
	&__organization {
		display: inline-block;
		font-size: 0;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 10, 5);
			@include adaptiveValue("margin-right", 40, 10, 0, 1230, 400);
		}
	}

	// end mobile first
	// end mobile first
	@media (min-width: em(768.98)) {
		// .accredited-block__text
		&__text {
		}
		// .accredited-block__accred-organizations
		&__accred-organizations {
		}
		// .accredited-block__organization
		&__organization {
		}
	}
}

//====================================================================================================
//====================================================================================================
.team-slider {
	position: relative;
	background: $bg-team-blocks;
	//@include adaptiveValue("margin-top", -170, 0);
	@include adaptiveValue("padding-top", 166, 50);
	@include adaptiveValue("padding-bottom", 90, 20);
	// .team-slider__container
	&__container {
		z-index: 1;
		position: relative;
	}
	// .team-slider__top-row
	&__top-row {
		text-align: center;
		@media (min-width: em(425)) {
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .team-slider__block-title
	&__block-title {
		@media (max-width: em(424.98)) {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
	}

	// buttons slider controls
	// .team-slider__slider-buttons
	&__slider-buttons {
		font-size: rem(30);
		@media (min-width: em(425)) {
			display: flex;
			font-size: rem(22);
		}
	}

	// .team-slider__decore
	&__decore {
	}
}

.slider-buttons-arrRound {
	&__prev {
		margin-right: rem(12);
	}
}

.social-links {
	> *:not(:last-child) {
		margin-right: rem(2);
	}
	// .social-links__link
	&__link {
		padding: rem(5);
		transition: all 0.3s ease 0s;
	}
}

.main-team-decore {
	@media (min-width: em(900)) {
		> * {
			position: absolute;
			z-index: 0;
		}
		// .main-team-decore__half-of-circle
		&__half-of-circle {
			background: url("@img/decore/half-of-circle.svg") 0 0 / 100% no-repeat;
			//width: rem(61);
			//height: rem(61);

			//adaptive size for bg img
			width: 3.080808%; /* 61/1980 */
			max-width: rem(61);
			padding-top: 3.080808%; /* 61/1980 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			top: rem(83); /* 83/1080 */
			left: 10.625%; /* 204/1920 */
		}
		// .main-team-decore__dots
		&__dots {
			background: url("@img/decore/dots-white.svg") 0 0 / 100% no-repeat;
			//width: rem(187);
			//height: rem(137);

			//adaptive size for bg img
			width: 9.444444%; /* 187/1980 */
			padding-top: 6.919192%; /*  /* 137/1980 */
			max-width: rem(187);
			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);
			top: rem(35);
			//bottom: 17.962963%; /* 194/1080 */

			right: 27.34375%; /* 525/1920 */
		}
		// .main-team-decore__group-of-arrows
		&__group-of-arrows {
			background: url("@img/decore/group-of-arrows.svg") 0 0 / 100% no-repeat;
			//width: rem(156);
			//height: rem(156);

			//adaptive size for bg img
			width: 7.878788%; /* 156/1980 */
			max-width: rem(156);
			padding-top: 7.878788%; /* 156/1980 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			bottom: rem(192); /* 133/1080 */
			right: -0.9375%; /* 18/1920 */
		}
	}
}

//====================================================================================================
//====================================================================================================

.main-review {
	position: relative;
	background: $bg-team-blocks;
	@include adaptiveValue("padding-top", 90, 20);
	@include adaptiveValue("padding-bottom", 100, 25);

	// .main-review__container
	&__container {
		z-index: 1;
		position: relative;
	}
	// .main-review__block-title
	&__block-title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .main-review__body-review
	&__body-review {
		display: flex;
		align-items: center;
		justify-content: space-between;
		//@include adaptiveValue("padding-right", 105, 20);
		//@include adaptiveValue("padding-left", 105, 20);
	}
	// .main-review__slider
	&__slider {
		max-width: 82.926829%; /* 1020/1230 */
		//display: flex;
		//align-items: center;
	}
	// .main-review__prev
	&__prev {
		transform: translate(rem(-15), 0);
	}
	// .main-review__wrapper
	&__wrapper {
	}
	// .main-review__slide
	&__slide {
		background: #ffffff;
		/* shadow/small */

		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
			0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
		border-radius: 4px;
		overflow: hidden;
	}
	// .main-review__body-slide
	&__body-slide {
	}
	// .main-review__next
	&__next {
		transform: translate(rem(15), 0);
	}
	// .main-review__pagination
	&__pagination {
		padding-top: rem(30);
		display: flex;
		justify-content: center;
		gap: 0.75rem;
		& .swiper-pagination {
		}
		//display: flex;
		//width: 30px;
		//height: 3px;
		//background: $mainColor;
		//margin: 0 auto;
	}

	.swiper-pagination-bullet {
		width: 2.1875rem;
		height: 0.1875rem;
		background-color: #b3b7bc;
		border-radius: 0.1875rem;
		cursor: pointer;

		&.swiper-pagination-bullet-active {
			background-color: #424551;
		}
	}
	// .main-review__decore
	&__decore {
	}
}

.main-review {
	// .main-review__slide
	&__slide {
	}
	// .main-review__body-slide
	&__body-slide {
	}
}

.slide-item {
	// .slide-item__wrapper
	&__wrapper {
		@include adaptiveValue("padding-right", 105, 20);
		@include adaptiveValue("padding-left", 105, 20);
		@include adaptiveValue("padding-top", 64, 15);
		@include adaptiveValue("padding-bottom", 64, 15);
	}
	// .slide-item__text
	&__text {
		position: relative;
		font-size: rem(20);
		line-height: 150%;
		@include adaptiveValue("margin-bottom", 24, 12);
		@include adaptiveValue("padding-left", 58, 30);
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			color: $primaryColor;
		}
	}
	// .slide-item__row-info
	&__row-info {
		@include adaptiveValue("padding-left", 58, 30);
		display: flex;
		align-items: center;
		column-gap: rem(20);
	}
	// .slide-item__avatar-author
	&__avatar-author {
		border-radius: 50%;
		max-width: rem(72);
		min-height: rem(72);
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	// .slide-item__info-author
	&__info-author {
	}
	// .slide-item__name-author
	&__name-author {
		font-weight: 700;
		line-height: 160%;
		color: $titleColor;
	}
	// .slide-item__position-author
	&__position-author {
		font-size: rem(14);
		line-height: 150%;
		color: $colorSpeaker;
	}
}

.review-decore {
	@media (min-width: em(900)) {
		> * {
			position: absolute;
			z-index: 0;
		}
		// .review-decore__dots
		&__dots {
			background: url("@img/decore/dots-white.svg") 0 0 / 100% no-repeat;
			//width: rem(143);
			//height: rem(105);

			//adaptive size for bg img
			width: 7.447917%; /* 143/1920 */
			max-width: rem(143);
			padding-top: 5.46875%; /* 105/1920 */

			bottom: rem(98);
			left: 4.864583%; /* 343/1920 */
			@media (min-width:em(1300)){
				
				left: 17.864583%; /* 343/1920 */
			}
		}
		// .review-decore__group-of-half-of-circle
		&__group-of-half-of-circle {
			background: url("@img/decore/group-of-half-of-circle.svg") 0 0 / 100% no-repeat;
			//width: rem(88);
			//height: rem(47);

			//adaptive size for bg img
			width: 4.583333%; /* 88/1920 */
			max-width: rem(88);
			padding-top: 2.447917%; /* 47/1920 */

			//@include adaptiveValue("bottom", 194, 170, 0, 1280, 1000);

			top: rem(124); /* 487/1080 */
			right: 33.854167%; /* 650/1920 */
		}
		// .review-decore__circles-white
		&__circles-white {
			background: url("@img/decore/circles-white.svg") 0 0 / 100% no-repeat;
			//width: rem(145);
			//height: rem(145);
			width: 7.552083%; /* 145/1920 */
			max-width: rem(145);
			padding-top: 7.552083%; /* 145/1920 */

			//@include adaptiveValue("bottom", -100, -40, 0, 1980, 1000);
			top: 0; /* 100/1080 */
			left: 3.90625%; /* 75/1920 */
		}
		// .review-decore__circles-empty-white
		&__circles-big-white {
			background: url("@img/decore/circles-white.svg") 0 0 / 100% no-repeat;
			//width: rem(258);
			//height: rem(258);
			width: 13.4375%; /* 258/1920 */
			max-width: rem(258);
			padding-top: 13.4375%; /* 258/1920 */

			//@include adaptiveValue("bottom", -100, -40, 0, 1980, 1000);
			//bottom: rem(-95);
			@include adaptiveValue("bottom", -95, -70,0,  1920, 1000);
			right: -6.5625%; /* 126/1920 */
		}
	}
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
