//====================================================================================================
.newGoogle {
	padding-top: rem(30);
	padding-bottom: rem(30);
	// .newGoogle__container
	&__container {
	}
	// .newGoogle__search-start
	&__search-start {
		position: relative;
		text-align: center;
		font-size: rem(50);

		height: rem(70);
	}
	// .newGoogle__start-to-search
	&__start-to-search {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translate(0, -50%);
		opacity: 1;
		transition: all 0.3s ease 0s;
		&::before {
			animation: shakeIt 1s ease 0s infinite normal;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			&::before {
				color: #fff830;
				opacity: 0.8;
			}
		}
	}
	// .newGoogle__body-form-search
	&__body-form-search {
		position: absolute;
		width: 100%;
		display: none;
		opacity: 0;
		transition: all 0.5s ease 0s;
	}

	.--activate-input {
		opacity: 1;
		.newGoogle__body-form-search {
			display: block;
			opacity: 1;
		}

		.push-to-see {
			transform: translate(rem(265), -50%);
			opacity: 0;
		}
	}
}

.searching-form {
	margin: 0 auto;
	max-width: rem(700);
	width: 100%;
	// .searching-form__row
	&__row {
		position: relative;
		input {
			border-radius: rem(50);
			padding: rem(5) rem(35);
			padding-right: rem(70);

			max-height: 70px;
			height: 100%;

			// color styles
			background: rgba(141, 140, 140, 0.244);
			color: rgb(161, 161, 161);
			&:focus {
				outline: 1px solid #888;
			}
		}
	}
	&__search-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(40);
		padding: rem(5);
		font-size: rem(30);
	}
	// .searching-form__characters
	&__characters {
	}
}
.button-form {
}

//====================================================================================================
