//====================================================================================================
.newGoogle {
	padding-top: rem(30);
	padding-bottom: rem(30);
	// .newGoogle__container
	&__container {
	}
	// .newGoogle__heading
	&__heading {
		margin-bottom: rem(30);
	}
	// .newGoogle__title
	&__title {
		text-align: center;
	}
	// .newGoogle__search-start
	&__search-start {
		position: relative;
		text-align: center;
		font-size: rem(36);
	}
	// .newGoogle__start-to-search
	&__start-to-search {
		position: absolute;
		z-index: 1;
	}
	// .newGoogle__body-form-search
	&__body-form-search {
		position: absolute;
	}
}

.searching-form {
	// .searching-form__row
	&__row {
	}
	// .searching-form__characters
	&__characters {
	}
}
.button-form {
}

//====================================================================================================
