/*.header {}*/
.header {
  text-align: center;
  padding: 20px;
}
.header__container {
}

.header__suptitle {
  margin-bottom: 2rem;
}

.header__title {
  font-size: 2rem;
}

/* common files */
.title {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.img {
  text-align: center;
  max-width: 30%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.img img {
  width: 100%;
}
.text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* ordered-list */
/* ordered-list */
/* ordered-list */
.ordered-list {
}

/* numbered list + custom numbers */
.ordered-list {
  counter-reset: item;
}
.ordered-list li {
}
.ordered-list li::before {
  counter-increment: item;
  content: "на завдання " counter(item) " ==>";
  color: red;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0px 20px 0px 0px;
}

/* ordered-list */
/* ordered-list */
/* ordered-list */

/* answers */
.answers {
  padding-left: 20px;
}
.answers__item {
}
.answers__item:not(:last-child) {
  margin-bottom: 1rem;
}
.answers__item--badly {
}
.answers__item--error {
}
.answers__item--correct {
}
.accordion {
}
.panel {
}
.done {
}

/* footer */
.footer {
  padding: 2rem 0;
  text-align: center;
}
.footer__container {
}
