// Заголовки, загальні БЕМ блоки та інше...
.title {
	font-family: "Taviraj";
	font-style: normal;
	font-weight: 500;
	font-size: rem(36);
	line-height: 1.11; /* 40/36 */
	letter-spacing: 0.02em;
	color: $darkColor;
	&::after {
		content: "";
		margin-top: em(8, 36); // !em function can give us encore to font size
		height: rem(1);
		width: em(128, 36); // !em function can give us encore to font size
		background: #000;
		display: block;
	}
	&--small {
		&::after {
			width: em(64, 36); // !em function can give us encore to font size
		}
	}
	&--semibold {
		font-weight: 600;
	}
	// .title--white
	&--white {
		font-weight: 600;
		font-size: rem(24);
		letter-spacing: 0.02em;
		color: #ffffff;

		&::after {
			content: "";
			margin-top: em(10, 24); // !em function can give us encore to font size
			height: rem(1);
			width: em(60, 24); // !em function can give us encore to font size   * width from f and font size
			background: #ffffff;
		}
	}
}

.search-form {
	// .search-form__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(20, 36);
		}
	}
	// .search-form__body
	&__body {
		position: relative;
		display: flex;
		gap: rem(20);
		@media (max-width: em(460)) {
			flex-direction: column;
		}
	}
	// .search-form__line
	&__line {
		flex: 1 1 auto;
		.form__error {
			color: red;
			margin-top: rem(5);
		}
	}
	// .search-form__input
	&__input {
		height: rem(50);
		color: #000;
		@include adaptiveValue("font-size", 28, 16);
		&::placeholder {
			color: $darkColor;
		}
	}
	// .search-form__button
	&__button {
	}
}

.logo {
	&.footer__logo {
		path {
			fill: #fff;
		}
	}
}
