//====================================================================================================
//hero
.hero {
	// .hero__container
	&__container {
		@include adaptiveValue("padding-top", 55, 20);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 790px;
			height: 508px;
			background: url("@img/decore/hero_decore.svg") 0 0 / 100% no-repeat;
			top: -10%;
			right: -14%;
			z-index: 1;
			pointer-events: none;
		}
	}
	// .hero__slider
	&__slider {
	}
	// .hero__wrapper
	&__wrapper {
	}
	// .hero__slide
	&__slide {
		background: $orangeColorLite;
	}
	// .hero__slider-arrows
	&__slider-arrows {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: rem(31);
		gap: rem(15);
		transform: translate(0, -50%);
	}
	// .hero__slider-arrow
	&__slider-arrow {
		flex: 0 0 rem(60);
		font-size: rem(23);
		padding: rem(17) rem(22) rem(16);
		border: 2px solid $orangeColor;
		color: $orangeColor;
		transition: color 0.3s ease 0s, background 0.3s ease 0s;
		&:hover,
		&:focus-visible {
			color: #fff;
			background: $orangeColor;
			outline: none;
		}
	}
}

.slide-hero {
	// .slide-hero__wrapper
	&__wrapper {
		@include adaptiveValue("padding-top", 50, 20);
		display: flex;
		padding-left: rem(15);
		
	}
	// .slide-hero__img
	&__img-ibg {
		flex: 0 0 30%; /* 333/1110 */
		padding-bottom: 42.072072%; /* 467/1110 */
		align-self: flex-end;
		transform: translate(0, 55px);
		img {
			//object-fit: contain;
			//or you can add class **-ibg_contain
		}
	}
	// .slide-hero__body
	&__body {
		color: $darkColor;
		flex: 1 1 auto;
		@include adaptiveValue("padding-left", 47, 20);
		@include adaptiveValue("padding-right", 47, 20);
	}
	// .slide-hero__title
	&__title {
		@include adaptiveValue("font-size", 60, 40);
		line-height: 1.33;
		letter-spacing: 0.02em;
		font-weight: 400;
		margin-bottom: rem(24);
		max-width: rem(414);
		&::after {
			content: "";
			margin-top: em(8, 60); // !em function can give us encore to font size
			width: em(95, 60);
		}
	}
	// .slide-hero__text
	&__text {
		line-height: 1.37;
		letter-spacing: 0.03em;
		margin-bottom: rem(7);
		max-width: rem(529);
	}
	// .slide-hero__more
	&__more {
		margin-bottom: rem(7);
		font-family: "Taviraj";
		font-weight: 600;
		line-height: 1.7;
		letter-spacing: 0.03em;
		display: inline-block;
		&::after {
			content: "";
			margin-top: em(6, 16); // !em function can give us encore to font size
			height: rem(1);
			width: 100%; // !em function can give us encore to font size
			background: $darkColor;
			display: block;
		}
	}
	// .slide-hero__actions
	&__actions {
		padding-top: rem(45);
		display: flex;
		column-gap: rem(15);
	}
	// .slide-hero__button
	&__button {
	}
}
.swiper-slide {
}
.button {
	// .button--cart
	&--cart {
	}
}

.cicil {
	// .cicil--c1
	&--c1 {
	}
	// .cicil--i1-dot
	&--i1-dot {
	}
	// .cicil--i1
	&--i1 {
	}
	// .cicil--i1-bend
	&--i1-bend {
	}
	// .cicil--c2
	&--c2 {
	}
	// .cicil--i2
	&--i2 {
	}
	// .cicil--i2-dot
	&--i2-dot {
	}
	// .cicil--l
	&--l {
	}
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
