//====================================================================================================

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

// style of header header header
// style of header header header

.header {
	@include adaptiveValue("padding-top", 20, 10);
	@include adaptiveValue("padding-bottom", 20, 10);
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 60, 20, 0, 1230, 768);
		row-gap: 20px;
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 6;
		//flex: 0 0 math.div(130, 1230) * 100%;
		@include adaptiveValue("width", 130, 100, 0, 1230, 768);
		//flex: 0 0 130px;
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		column-gap: rem(36);
	}
}
.logo {
}
.menu {
	padding: rem(0) rem(10);
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-top", 100, 70, 3, 768, 320);
			padding-left: rem(10);
			padding-right: rem(10);
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			overflow: auto;
			background: #fff;
			color: $mainColor;
			z-index: 5;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(30);
			left: -100%;
			transition: left 0.3s ease 0s;
			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				@include adaptiveValue("height", 49, 41, 3, 768, 320);
				background-color: #f94; //заглушка хелдера
				transition: left 0.3s ease 0s;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		row-gap: rem(10);
		@include adaptiveValue("column-gap", 40, 0,0, 1400, 768);

		font-weight: 700;
		line-height: 1.6;

		@media (max-width: $mobile) {
			flex-direction: column;
			text-align: center;
			//font-size: rem(40);
			@include adaptiveValue("font-size", 40, 30);
			row-gap: rem(30);
		}
		li {
			a {
				padding: rem(5);
				&:hover {
					color: $primaryColor;
				}
			}
		}
	}
	// .menu__item
	&__item {
		&.--active {
			color: $primaryColor;
		}
	}
	// .menu__link
	&__link {
	}
}
.icon-menu {
}
.actions {
	position: relative;
	z-index: 5;
	// .actions__button
	&__button {
	}
	// .actions__user
	&__user {
	}
}
