$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$--icon-bag: "\e92f";
$--icon-card: "\e930";
$--icon-Cart: "\e931";
$--icon-delete: "\e932";
$--icon-dislike: "\e933";
$--icon-filter-1: "\e934";
$--icon-filter-2: "\e935";
$--icon-hanger: "\e936";
$--icon-like: "\e937";
$--icon-wallet: "\e938";
$--icon-Closed-Eye: "\e939";
$--icon-Eye: "\e93a";
$--icon-Lock: "\e93b";
$--icon-Shield: "\e93c";
$--icon-Unlock: "\e93d";
$--icon-outline: "\e93e";
$--icon-solid: "\e93f";
$--icon-Cross: "\e940";
$--icon-Minus: "\e941";
$--icon-Plus: "\e942";
$--icon-braces: "\e943";
$--icon-Attach: "\e944";
$--icon-External-Link: "\e945";
$--icon-Files: "\e946";
$--icon-Layouts: "\e947";
$--icon-mic: "\e948";
$--icon-Play: "\e949";
$--icon-Share: "\e94a";
$--icon-Upload: "\e94b";
$--icon-Block: "\e94c";
$--icon-burger-menu: "\e94d";
$--icon-check: "\e94e";
$--icon-Check-round: "\e94f";
$--icon-Close-round: "\e950";
$--icon-grid: "\e951";
$--icon-Heart: "\e952";
$--icon-Home: "\e953";
$--icon-Info: "\e954";
$--icon-list: "\e955";
$--icon-Login: "\e956";
$--icon-Logout: "\e957";
$--icon-Mark: "\e958";
$--icon-Minus-round: "\e959";
$--icon-play: "\e95a";
$--icon-Plus-round: "\e95b";
$--icon-Profile: "\e95c";
$--icon-search: "\e95d";
$--icon-Star: "\e95e";
$--icon-behance: "\e900";
$--icon-dribbble: "\e901";
$--icon-Facebook: "\e902";
$--icon-figma: "\e903";
$--icon-github: "\e904";
$--icon-gitlab: "\e905";
$--icon-Google: "\e906";
$--icon-google-hangouts: "\e907";
$--icon-Instagram: "\e908";
$--icon-Instagram-filled: "\e909";
$--icon-Linked-In: "\e90a";
$--icon-Messanger: "\e90b";
$--icon-odnoklassniki: "\e90c";
$--icon-paypal: "\e90d";
$--icon-pinterest: "\e90e";
$--icon-rss: "\e90f";
$--icon-skype: "\e910";
$--icon-slack: "\e911";
$--icon-slack-filled: "\e912";
$--icon-stripe: "\e913";
$--icon-telegram: "\e914";
$--icon-tumblr: "\e915";
$--icon-twitch: "\e916";
$--icon-Twitter: "\e917";
$--icon-viber: "\e918";
$--icon-vimeo: "\e919";
$--icon-VKontakte: "\e91a";
$--icon-wechat: "\e91b";
$--icon-Whatsapp: "\e91c";
$--icon-YouTube: "\e91d";
$--icon-Chat: "\e91e";
$--icon-Comment: "\e91f";
$--icon-Envelope-opened: "\e920";
$--icon-iPhone: "\e921";
$--icon-Mail: "\e922";
$--icon-Mention: "\e923";
$--icon-off: "\e924";
$--icon-on: "\e925";
$--icon-volume: "\e926";
$--icon-volume-no: "\e927";
$--icon-Calendar: "\e928";
$--icon-Clock: "\e929";
$--icon-History: "\e92a";
$--icon-Alert: "\e92b";
$--icon-Alert-octagon: "\e92c";
$--icon-Bell: "\e92d";
$--icon-danger: "\e92e";
$--icon-Down-chevron: "\e95f";
$--icon-Left-chevron: "\e960";
$--icon-Right-chevron: "\e961";
$--icon-Up-chevron: "\e962";
$--icon-Back: "\e963";
$--icon-Convert: "\e964";
$--icon-Expand: "\e965";
$--icon-Fluid-Horizontal: "\e966";
$--icon-Fluid-Vertical: "\e967";
$--icon-Forward: "\e968";
$--icon-Horizontal: "\e969";
$--icon-Reload: "\e96a";
$--icon-share-arrow: "\e96b";
$--icon-up-down-select: "\e96c";
$--icon-Vertical: "\e96d";
$--icon-Bottom-Left: "\e96e";
$--icon-Bottom-Right: "\e96f";
$--icon-Down: "\e970";
$--icon-Left: "\e971";
$--icon-Right: "\e972";
$--icon-Top-Left: "\e973";
$--icon-Top-Right: "\e974";
$--icon-Up: "\e975";

