.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__logo {
  padding-top: 4px;
}
.header__menu {
  flex-grow: 1;
}
.header__menu .menu__items {
  display: flex;

  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 40px;
  white-space: nowrap;
}
.header__actions {
}
.actions {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
}
.actions__button {
}

.actions__auth {
  background: url("../img/icons/user.svg") 0 4px no-repeat;
  font-weight: 700;
  line-height: 1.6;
  padding-left: 24px;
}

.actions__auth span:hover {
  text-decoration: underline;
}
