.space {
  height: 30px;
}

/* ! munu  */
.menu {
}
.menu__items {
}
.menu__item {
}
.menu__link {
  font-weight: 700;
}
.menu__link:hover {
  text-decoration: underline;
}

/* ! buttons */
.button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 4px;
  padding: 16px 40px;
  line-height: 1.25;
  position: relative;
  white-space: nowrap;
}
.button span {
  position: relative;
  z-index: 1;
}
.button--orange {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}
.button--orange::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  transition: opacity 0.3s ease 0s;
  background: linear-gradient(
    55.95deg,
    rgb(164, 39, 34) 0%,
    rgb(173, 65, 3) 100%
  );
  opacity: 0;
}
.button--orange:hover::before {
  opacity: 1;
}

.button--transparent:hover {
  color: #fff;
}
.button--transparent {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;

  padding: 15px 40px;
}
.button--transparent::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease 0s;
}
.button--transparent:hover::before {
  opacity: 1;
}

/* !cards of course */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cards__body {
  display: flex;
  gap: 32px;

  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  overflow: hidden;
}
.cards__body:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.1),
    0px 30px 24px -10px rgba(154, 156, 165, 0.08),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.07);
}

.cards__img {
  flex: 0 0 214px;
}
.cards__img img {
  width: 100%;

  /* fill all  */
  object-fit: cover;
  height: 100%;
}
.cards__text-body {
}
.card-info {
}
.card-info__body {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.card-info__body > *:not(:last-child) {
  margin-bottom: 20px;
}
.card-info__badge {
  align-self: flex-start;
}
.card-info__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.card-info__author-block {
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-info__author-block span {
  font-weight: 700;
  font-size: 18px;
  color: #ff4242;
}
.card-info__author-block span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #787a80;
  margin-left: 8px;
}
.card-info__author-block p {
  font-size: 18px;
  color: #787a80;
}

/* ? badge  */
/* ? badge  */
/* ? badge  */
.badge {
  padding: 1px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.badge--marketing {
  background: #03cea4;
}
.badge--management {
  background: #5a87fc;
}
.badge--hr-recruting {
  background: #f89828;
}
.badge--design {
  background: #f52f6e;
}
