@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

[class*="__container"] {
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #424551;
  line-height: 1.6;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex-grow: 1;
}
/* colors for marking */
/*  *    test*/
/*  TODO test*/
/*  !    test*/
/*  ?    test*/

/*  !   header block*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.4);
  /*background: linear-gradient(
    55.95deg,
    rgba(255, 64, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );*/
}

.header__container {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.header__logo {
  padding-top: 4px;
  flex-shrink: 0;
}
.header__menu {
  flex-grow: 1;
}

.header__menu .menu__items {
  display: flex;

  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 40px;
  white-space: nowrap;
}
.header__actions {
}
.actions {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 36px;
  row-gap: 10px;
}

.actions__auth {
  background: url("../img/icons/user.svg") 0 4px no-repeat;
  font-weight: 700;
  line-height: 1.6;
  padding-left: 24px;
}

.actions__auth span:hover {
  text-decoration: underline;
}

.burger {
  display: none;
}
.burger__button {
}
.burger__button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
@media (max-width: 1091px) {
  .header__container {
    column-gap: 20px;
  }
  .actions {
    column-gap: 20px;
  }
}

@media (max-width: 995px) {
  .header__menu {
    display: none;
    /* go to burger */
  }
  .header__container {
    justify-content: space-between;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 625.98px) {
  .actions__auth {
    display: none;
    /* go to burger */
  }
}
@media (max-width: 485px) {
  .header__container {
    flex-wrap: wrap;
    column-gap: 40px;
  }
  .header__actions {
    margin-left: auto;
  }
}

@media (min-width: 420px) {
}

/*  ?    test*/

/*  !    test*/
/* ?main */
/* ?main */
/* ?main */

.hero {
  background: linear-gradient(
    55.95deg,
    rgba(255, 64, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
  padding-top: 200px;
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
}
.hero__container {
  /*display: flex;
  flex-direction: column;*/
}
.hero__main-block {
  display: flex;
  justify-content: space-between;
}
.hero__main-block:not(:last-child) {
  margin-bottom: 189px;
}
.hero__info {
  flex: 0 1 50%;
  padding-right: 40px;
  align-self: center;
}
.info {
}
.info > *:not(:last-child) {
  margin-bottom: 40px;
}
.info__play {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.info__play::before {
  content: "";
  border-radius: 50%;
  background: #ff3f3a url("../img/icons/play.svg") center no-repeat;
  height: 52px;
  width: 52px;

  display: flex;
  align-items: center;
  flex: 0 0 52px;
}
.info__play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #ff3f3a;
  opacity: 0.12;
  /*transform: scale(1.6);*/
  transition: transform 0.3s ease 0s;
  animation: play-me 2s infinite ease;
}

.info__play:hover::after {
  animation: play-me-hover 1s infinite ease;
}
@keyframes play-me {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes play-me-hover {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.6);
  }
}
.info__play:not(:last-child) {
  margin-bottom: 40px;
}
.info__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #1e212c;
}

.info__title:not(:last-child) {
  margin-bottom: 60px;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 20px;
}
/*.hero__buttons button {
  margin: 0px 0px 0px 0px;
}*/

.hero__image {
  flex: 0 1 50%;
}
.hero__image img {
  max-width: 107.8%;
  transform: translate(7.8%, 0px);
}
.hero__achieves {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.achieves {
}
.achieves__item {
  color: #1e212c;
  display: flex;
  align-items: center;
  gap: 12px;
}
.achieves__item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}
.achieves__item p {
}
.achieves__dot {
  background: #ff3f3a;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /*overflow: hidden;*/
}
/* hero decorate */
@media (min-width: 420px) {
  .hero__decor {
    position: absolute;
    z-index: -1;
  }
  .info__title {
    font-size: 64px;
  }
  /* calc 
 1920
 1080 
 
 top: 133 / 1080 * 100
  */
  .hero__decor--group-of-arrows {
    background: url("../img/decore/group-of-arrows.svg") 0 0 / cover no-repeat;
    height: 96px;
    width: 96px;
    top: 12.3%;
    left: 4.2%;
  }
  .hero__decor--group-of-half-of-circle {
    background: url("../img/decore/group-of-half-of-circle.svg") 0 0 / cover
      no-repeat;
    width: 88px;
    height: 47px;
    top: 44.6%;
    left: 40.7%;
  }
  .hero__decor--half-of-circle {
    background: url("../img/decore/half-of-circle.svg") 0 0 / cover no-repeat;
    height: 61px;
    width: 61px;
    left: 37%;
    bottom: 24.1%;
  }
  .hero__decor--rotate-group-of-arrows {
    background: url("../img/decore/group-of-arrows.svg") 0 0 / cover no-repeat;
    height: 96px;
    width: 96px;
    top: -1.5%;
    left: 86.8%;
    transform: rotate(135deg);
  }
  .hero__decor--dots {
    background: url("../img/decore/dots.svg") 0 0 / cover no-repeat;
    height: 137px;
    width: 187px;
    right: -1.9%;
    bottom: 17.9%;
  }
  .hero__decor--circles {
    background: url("../img/decore/circles.svg") 0 0 / cover no-repeat;
    height: 284px;
    width: 284px;
    left: -6%;
    bottom: -9%;
  }
}

@media (max-width: 1025px) {
  .hero {
    padding-top: 150px;
  }
  .info__title:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero__main-block:not(:last-child) {
    margin-bottom: 135px;
  }

  /* decore */

  .hero__decor--group-of-arrows {
    height: 76px;
    width: 76px;
    /*96-20%   76*/
  }
  .hero__decor--group-of-half-of-circle {
    width: 70px;
    height: 37px;
  }
  .hero__decor--half-of-circle {
    height: 54px;
    width: 54px;
  }
  .hero__decor--rotate-group-of-arrows {
    height: 77px;
    width: 77px;
  }
  .hero__decor--dots {
    height: 109px;
    width: 149px;
  }
  .hero__decor--circles {
    height: 227px;
    width: 227px;
  }
}
@media (max-width: 910px) {
  .hero__info {
    padding-right: 20px;
  }
  .achieves__item {
    flex: 0 1 49%;
    justify-content: center;
  }
  .achieves__dot:nth-of-type(4) {
    display: none;
  }
}
@media (max-width: 865px) {
  .hero__main-block {
    flex-direction: column;
  }
  .hero__main-block:not(:last-child) {
    margin-bottom: 100px;
  }

  .hero__info {
    /*order: 2;*/
    text-align: center;
  }
  .hero__image {
    /*order: 1;*/
    padding: 15px 50px;
    text-align: center;
  }
  .hero__image img {
    transform: translate(0px, 0px);
    width: 100%;
  }
  .hero__buttons {
    justify-content: center;
  }
  .hero__buttons .button {
    flex: 0 1 60%;
    align-self: flex-end;
    text-align: center;
  }

  .hero__decor--group-of-arrows {
    height: 60px;
    width: 60px;
    /*96-20%   76*/
  }
  .hero__decor--group-of-half-of-circle {
    width: 56px;
    height: 30px;
  }
  .hero__decor--half-of-circle {
    height: 43px;
    width: 43px;
  }
  .hero__decor--rotate-group-of-arrows {
    height: 62px;
    width: 62px;
  }
  .hero__decor--dots {
    height: 87px;
    width: 121px;
  }
  .hero__decor--circles {
    height: 180px;
    width: 180px;
  }
  .info__title {
    font-size: 40px;
  }
}
@media (max-width: 781px) {
  .hero__decorate {
    display: none;
  }
}
@media (max-width: 690px) {
  .hero {
    padding-bottom: 40px;
  }
  .hero__main-block:not(:last-child) {
    margin-bottom: 40px;
  }
  .achieves__item span {
    font-size: 32px;
  }
}
@media (max-width: 550px) {
  .hero__main-block:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero__achieves {
    flex-direction: column;
  }
  .achieves__item span {
    font-size: 40px;
  }
  .achieves__dot:nth-of-type(4) {
    display: block;
  }
}
/* ? who we are  */
/* ?who we are  */

.who-we-are {
  padding-top: 180px;
  padding-bottom: 90px;
  position: relative;
}
.who-we-are__container {
}
.who-we-are__block-image {
  flex: 0 1 57.35%;
  /* 705 / 1230 */
}
.who-we-are__block-image img {
  max-width: 100%;
}
.who-we-are__block-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 31.7%;
  padding-left: 15px;
}

.text-block {
}
.text-block__header {
  padding-right: 10px;
}
.text-block__header:not(:last-child) {
  margin-bottom: 40px;
}

.text-block__list:not(:last-child) {
  margin-bottom: 48px;
}

.text-block__button {
  align-self: flex-start;
}

/*list item*/
.list-items {
}
.list-items li {
  position: relative;
  padding-left: 32px;
  line-height: 1.6;
}
.list-items li:not(:last-child) {
  margin-bottom: 12px;
}
.list-items li::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: url("../img/icons/list-checked.svg") 0 5px no-repeat;
  width: 16px;
  height: 22px;
  top: 0;
  left: 0;
  animation: ring-rotate 1s ease 0s infinite normal both;
  animation-play-state: paused;
}
.list-items li:hover::before {
  /*animation: ring-rotate 1s ease 0s 1 1s both;*/
  animation-play-state: running;
}
@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.who-we-are__block-image:not(:last-child) {
  margin-bottom: 24px;
}
.who-we-are__decorations div {
  z-index: -1;
  /* 830 px */
}
.who-we-are__circle-decoration {
  position: absolute;
  background: url("../img/who-we-are/decoration/circles.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
  top: 52.6%;
  right: -7.5%;
}
.who-we-are__dots-decoration {
  position: absolute;
  background: url("../img/who-we-are/decoration/dots.svg") 0 0 no-repeat;
  width: 181px;
  height: 132px;
  transform: rotate(-52.4deg);
  top: 28.9%;
  left: -4.7%;
}
/* Mobile first */
@media (min-width: 625px) {
  .who-we-are__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1024.02px) {
  .who-we-are {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .who-we-are__block-image {
    flex: 0 1 40%;
  }
  .who-we-are__block-text {
    flex: 0 1 50%;
  }
}
@media (max-width: 781px) {
  .who-we-are {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .who-we-are__decorations {
    display: none;
  }

  .who-we-are__block-text {
    flex-basis: 55%;
  }
  .text-block__header:not(:last-child) {
    margin-bottom: 24px;
  }

  .text-block__list:not(:last-child) {
    margin-bottom: 28px;
  }
  .list-items li:not(:last-child) {
    margin-bottom: 8px;
  }
}

/*  */
/* ? featured */

/*.featured {
  padding: 40px 0;
}
.featured__container {
}
.featured__block-header {
  margin-bottom: 30px;
}
.featured__header {
  padding-right: 15px;
}
.featured__button-header {
}
.button {
}
.button--transparent {
}
.featured__block-card {
  justify-content: space-between;
}
.featured__block-card .cards__body {
  flex: 0 1 48.781%;
}
@media (min-width: 426px) {
  .featured__block-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}
@media (min-width: 625px) {
  .featured {
    padding: 90px 0;
  }
}
@media (max-width: 525.98px) {
  .featured__header {
    margin-bottom: 10px;
  }
}

@media (max-width: 1023.98px) {
  .featured__block-card {
    column-gap: 5%;
    row-gap: 15px;
  }

  .featured__block-card .cards__body {
    flex-direction: column;
    flex: 1 1 30%;
  }
}*/
/* *benefits */

.benefits {
  padding-top: 90px;
  padding-bottom: 120px;
}

.benefits__container {
  display: flex;
  flex-direction: column;
}
.benefits__title {
  text-align: center;
  margin-bottom: 60px;
}
.benefits__tabs {
}
.tabs {
}
.tabs__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 60px;
}
.tabs__navigation button {
  flex: 1 1 25%;
  padding: 10px 20px;
}

.tabs__title {
  padding-left: 24px;
  font-weight: 700;
  line-height: 1.6;
  color: #9a9ca5;
  border: 1px solid transparent;
  border-radius: 4px;
}
.tabs__title--tab-active {
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
}
.tabs__title--tab-active span::before {
  fill: #ff3f3a;
}
.tabs__title span {
  position: relative;
  padding-left: 24px;
  white-space: nowrap;
}

.tabs__title--tutors span::before,
.tabs__title--feedback span::before,
.tabs__title--online span::before,
.tabs__title--community span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  fill: red;
}

.tabs__title--tutors span::before {
  background: url("../img/icons/star.svg") 0 0 no-repeat;
}
.tabs__title--tab-active.tabs__title--tutors span::before {
  background: url("../img/icons/temp-icon-active/star.svg") 0 0 no-repeat;
}
.tabs__title--feedback span::before {
  background: url("../img/icons/like.svg") 0 0 no-repeat;
}
.tabs__title--tab-active.tabs__title--feedback span::before {
  background: url("../img/icons/temp-icon-active/like.svg") 0 0 no-repeat;
}

.tabs__title--online span::before {
  background: url("../img/icons/paper.svg") 0 0 no-repeat;
}
.tabs__title--tab-active.tabs__title--online span::before {
  background: url("../img/icons/temp-icon-active/paper.svg") 0 0 no-repeat;
}

.tabs__title--community span::before {
  background: url("../img/icons/comment.svg") 0 0 no-repeat;
}
.tabs__title--tab-active.tabs__title--community span::before {
  background: url("../img/icons/temp-icon-active/comment.svg") 0 0 no-repeat;
}

.tabs__content {
}
.tabs__body {
}
.tutors-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tutors-tab__img {
  flex: 0 1 48.780488%; /* 600/1230 */
}
.tutors-tab__img img {
  width: 100%;
}
.tutors-tab__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
  color: #1e212c;
}

.tutors-tab__text {
  flex: 0 1 40.243902%; /* 495/1230 */
  padding-right: 20px;
}
.tutors-tab__text > *:not(:last-child) {
  margin-bottom: 24px;
}

@media (max-width: 774.98px) {
  .benefits {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  .tutors-tab__img {
    /*flex: 0 1 30%;*/
  }
  .benefits__title {
    margin-bottom: 40px;
  }
  .tabs__navigation {
    margin-bottom: 40px;
    row-gap: 4px;
  }
  .tabs__navigation button {
    flex: 1 1 50%;
    justify-content: space-between;
  }
}
@media (max-width: 625px) {
  .tutors-tab {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
}
@media (max-width: 402px) {
  .tabs__navigation {
  }
}
/* events*/

.our-events {
  padding: 80px 0;
  background: linear-gradient(
    55.95deg,
    rgba(255, 64, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}
.our-events__container {
  /*display: flex;
  flex-direction: column;
  flex: 0 1 auto;*/
}
.our-events__container > *:not(:last-child) {
  margin-bottom: 60px;
}
.our-events__block-title {
  text-align: center;
}
.our-events__block-events {
}
.events-calendar {
}
.events-calendar__event-row {
  /*column-gap: 40px;*/

  background: #ffffff;
  border-radius: 4px;
  position: relative;
  z-index: 0;
  border-radius: 4px;
  transition: box-shadow 0.3s ease 0s;
}
.events-calendar__event-row:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 1;
}
.events-calendar__event-row:not(:last-child) {
  margin-bottom: 24px;
}
.events-calendar__body {
  margin: 0 -20px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/

  min-height: 126px;
  padding: 10px 40px;
}
.events-calendar__body > div {
  padding: 0 20px;
}
.events-calendar__block-date {
}
.event-date-block {
  display: flex;
  margin: 0 -10px;
}
.event-date-block__date {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #ff3f3a;
  padding: 0 10px;
}
.event-date-block__side-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  white-space: nowrap;
}
.event-date-block__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.event-date-block__time {
  color: #787a80;
}
.events-calendar__block-about-event {
  flex-grow: 1;
  padding-right: 15px;
}
.event-about-block {
}
.events-calendar__block-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.event-about-block__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.event-about-block__type-of-event {
  color: #787a80;
}
.events-calendar__block-button-more {
}

.event-date-block__date {
}
.our-events__block-explore {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
.explore__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1e212c;
}
.explore__button {
}

@media (max-width: 767.98px) {
  .events-calendar__body {
    margin: 0 -15px;
    padding: 10px 20px;
  }
  .events-calendar__body > div {
    padding: 0 15px;
  }
  .events-calendar__block-info {
    flex-direction: column;
    row-gap: 10px;
  }
  .events-calendar__block-button-more {
    align-self: flex-start;
  }
  .events-calendar__block-about-event {
    padding-right: 0;
  }
}

@media (max-width: 625px) {
  .our-events {
    padding: 40px 0px;
  }
  .event-date-block {
    flex-direction: column;
    row-gap: 10px;
  }
  .our-events__block-explore {
    flex-direction: column;
  }
}

@media (max-width: 336px) {
  .our-events {
    padding: 30px 0px;
  }
  .events-calendar__body {
    flex-direction: column;
    row-gap: 10px;
  }
  .event-date-block {
    flex-direction: row;
  }
  .events-calendar__block-info {
    align-items: center;
  }
  .events-calendar__block-button-more {
    align-self: center;
  }
}
