@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

.form__line {
  flex-basis: 300px;
  flex-shrink: 1;
}

input {
  /*width: 100%; writted to reset.css*/
  /* we can use height! */
}
/* ! settings */
[class*="__container"] {
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #424551;
  line-height: 1.6;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

/* ? header */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  /*position: fixed;*/
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
}
.header__logo {
  flex: 0 0 130px;
}
.header__menu {
  flex-grow: 1;
}
.header__menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;
}
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 15px;
}

.logo {
}

.menu {
}
.menu__items {
}
.menu__item {
}
.menu__item--active a {
  color: #ff3f3a;
}
.menu__link {
  font-weight: 700;
  line-height: 1.6;
  color: #424551;
}
.actions {
}
.actions__button {
}
.actions__login {
  font-weight: 700;
  display: inline-block;
  height: 25px;
  padding-left: 27px;
}
.actions__login::after {
  content: "";
  background: url("../img/icons/user.svg") 0 4px no-repeat;
  display: inline-block;
  top: 0;
  left: 0;
  width: 17px;
  height: 25px;
  position: absolute;
}

/* question */
/* question */
/* question */
/* question */
/* question */
.questions {
  padding-top: 90px;
  padding-bottom: 180px;
}
.questions__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.questions__img {
  flex: 0 1 35.3%;
  align-self: flex-start;
}
.questions__img img {
  width: 100%;
}
.questions__block-actions {
  flex: 0 1 57.3%;
}
.actions-block {
}
.actions-block > *:not(:last-child) {
  margin-bottom: 40px;
}
.actions-block__block-title {
  margin-right: -5px;
  margin-left: -5px;
}

.actions-block__block-forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 24px;

  margin-right: -5px;
  margin-left: -5px;
  /*
  padding-right: 10px;
  */
}
.actions-block__block-forms textarea {
  width: 100%;
}
.forms-block {
}
.forms-block__input-row {
  flex: 1 1 340px;
}
.forms-block__input-row > *:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.forms-block__input-row label {
  display: block;
  line-height: 1.6;
}
.forms-block__input-row input,
.forms-block__input-row textarea {
  padding: 13px 16px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}
.forms-block__input-row input::placeholder {
  color: #9a9ca5;
}

.forms-block__input-row--first-name {
}
.forms-block__input-row--last-name {
}
.forms-block__input-row--email {
}
.forms-block__input-row--phone {
}
.forms-block__input-row--message {
  flex: 0 1 100%;
}
.forms-block__input-row--message textarea {
  height: 150px;
  resize: vertical;
  /*resize: none;    better leave vertical// !!be careful*/
}
.forms-block__input-row {
}
/* !state of input text and other are */
/* ===== */
/* ===== */
/* ===== */
.forms-block__input-row--state textarea:focus,
.forms-block__input-row--state input:focus {
  border: 1px solid rgba(255, 63, 58, 0.4);
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08),
    0px 30px 24px -10px rgba(255, 63, 58, 0.05),
    0px 12px 10px -6px rgba(255, 63, 58, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  outline: none;
}
.forms-block__input-row--state input {
}
.forms-block__input-row--state input {
}
.forms-block__input-row--state input {
}

/* ===== */
/* ===== */
/*
input:not(:placeholder-shown) { }
 
 input:required:invalid::before { }
 */

/* ===== */
/* !end state of input text and other are */

/* *checkbox settings*/
.forms-block__input-row--checkbox {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 0 1 340px;
}
.forms-block__input-row--checkbox label {
  padding-left: 28px;
  cursor: pointer;
}
.forms-block__input-row--checkbox input {
  width: 0;
  height: 0;
  position: relative;
}

.forms-block__input-row--checkbox input::before,
.forms-block__input-row--checkbox input::after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.forms-block__input-row--checkbox input::after {
  background: url("../img/icons/check.svg") 2px 2px / 12px 10px no-repeat;
  opacity: 0;
}
.forms-block__input-row--checkbox input:checked::after {
  opacity: 1;
}
.forms-block__input-row--checkbox input::before {
  content: "";
  position: absolute;
  display: block;

  border: 1px solid #ff3f3a;
  border-radius: 3px;
}
.forms-block__input-row--checkbox input:checked::before {
  background: #ff3f3a;
}

input:not(:placeholder-shown) {
  /*border-color: green;*/
}

input:required:invalid::before {
  /*background-color: rgb(22, 196, 16);*/
}

/* * end input settings */

.forms-block__input-row--submit {
  flex: 1 1 auto;
}
.forms-block__input-row--submit button {
  width: 100%;
}
/* radio */
.forms-block__input-row {
}
.forms-block__input-row--question-mood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  row-gap: 20px;
  column-gap: 30px;
}
.forms-block__input-row.forms-block__input-row--question-mood * {
  margin-bottom: 0;
}
.mood-question {
}
.mood-question *:not(:first-child) {
  margin-bottom: 30px;
}
.mood-question__title {
  flex: 0 1 100%;
  text-align: center;
}
.mood-question__line {
  font-size: 0;
}

/* mood smiles chacked */

.mood-question__line--angry {
  /*display: inline-flex;
	align-items: flex-start;
	justify-content: space-between;
	flex: 0 1 340px;*/
}
.mood-question__line--expressionless input,
.mood-question__line--happy input,
.mood-question__line--heart-eyes input,
.mood-question__line--angry input {
  width: 30px;
  height: 0;
  position: relative;
}

.mood-question__line input::before,
.mood-question__line input::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* /??? */
  transition: all 0.3s ease 0s;
}

.mood-question__line input:checked::after {
  opacity: 1;
}
.mood-question__line input:checked::before {
  opacity: 0;
}

.mood-question__line--angry input::before {
  background: url("../img/icons/mood/smile-angry--clear.svg") 0 0 no-repeat;
}
.mood-question__line--angry input::after {
  background: url("../img/icons/mood/smile-angry--fill.svg") 0 0 no-repeat;
  opacity: 0;
}
.mood-question__line--expressionless input::before {
  background: url("../img/icons/mood/smile-expressionless--clear.svg") 0 0
    no-repeat;
}
.mood-question__line--expressionless input::after {
  background: url("../img/icons/mood/smile-expressionless--fill.svg") 0 0
    no-repeat;
  opacity: 0;
}
.mood-question__line--happy input::before {
  background: url("../img/icons/mood/smile-happy-clear.svg") 0 0 no-repeat;
}
.mood-question__line--happy input::after {
  background: url("../img/icons/mood/smile-happy-fill.svg") 0 0 no-repeat;
  opacity: 0;
}
.mood-question__line--heart-eyes input::before {
  background: url("../img/icons/mood/smile-heart-eyes--clear.svg") 0 0 no-repeat;
}
.mood-question__line--heart-eyes input::after {
  background: url("../img/icons/mood/smile-heart-eyes--fill.svg") 0 0 no-repeat;
  opacity: 0;
}

/*
*/
/* snippet */
/* settings*/
/* snippet */
/* 
.mood-question__line--expressionless ,
.mood-question__line--happy ,
.mood-question__line--heart-eyes ,
*/

.mood-question__line--expressionless {
}
.mood-question__line--happy {
}
.mood-question__line--heart-eyes {
}
/* radio */

footer {
  background: #333;
  color: rgb(166, 154, 154);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
